node_modules/
android/.gradle/
android/local.properties
android/app/build/
android/build/
android/capacitor-cordova-android-plugins/
android/app/src/main/assets/public/
android/app/src/main/assets/capacitor.config.json
*.keystore
*.jks
